{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to  my app</h1>
    <img src="{% static "images/image.jpg" %}" alt="my image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae fuga alias soluta earum aspernatur porro minima nostrum maiores cumque sequi, explicabo omnis odio architecto doloribus quasi quo saepe, corporis recusandae consequatur ut voluptatem. Illo modi illum quaerat corporis, commodi dolorem odit aperiam repellat. Vel, dolore?</p>
</body>
</html>